{% extends 'base.html.twig' %}

{% block title %}CoLive – Accueil{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/home.css') }}">
{% endblock %}
{% block body %}
    <div class="hero">
        <div class="overlay"></div>

        <header class="top-bar">
            <div class="logo">C</div>
            <a href="{{ path('app_login') }}" class="login-btn">Se connecter</a>
        </header>

        <div class="hero-content">
            <div class="container">
                <h1>La solution de cohabitation<br> pour les étudiants en alternance</h1>

                <p class="subtitle">
                    CoLive connecte les étudiants en alternance pour partager des logements
                    entre l’école et l’entreprise. Trouvez facilement votre colocataire idéal
                    ou proposez votre espace.
                </p>

                <a href="#" class="cta">Proposer mon logement</a>
            </div>
            <div class="container-search">
                <form action="#" method="get" class="search-box">
                    <input type="text" name="q" placeholder="Rechercher..." value="">
                    <button type="submit">
                        <svg  xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                              fill="#0000" viewBox="0 0 24 24" >
                            <!--Boxicons v3.0.4 https://boxicons.com | License  https://docs.boxicons.com/free-->
                            <path d="M10.5 19c1.98 0 3.81-.69 5.25-1.83L20 21.42l1.41-1.41-4.25-4.25a8.47 8.47 0 0 0 1.83-5.25c0-4.69-3.81-8.5-8.5-8.5S2 5.81 2 10.5 5.81 19 10.5 19m0-15c3.58 0 6.5 2.92 6.5 6.5S14.08 17 10.5 17 4 14.08 4 10.5 6.92 4 10.5 4"></path>
                        </svg>
                    </button>
                    <div class="hover-search"></div>
                </form>
            </div>
        </div>
        <img src="{{ asset('img/home.png') }}" alt="image-home-appartement">
    </div>
{% endblock %}
