{% if count > 0 %}
    <span class="position-absolute top-0 start-100 translate-middle p-1 bg-danger border border-light rounded-circle" style="width: 12px; height: 12px;">
        <span class="visually-hidden">Notifications non lues</span>
    </span>
{% endif %}
