{% extends 'base.html.twig' %}

{% block title %}Liste des annonces{% endblock %}

{% block body %}
    {% for announce in announces %}
        <p>{{ announce.titre }}</p>
    {% endfor %}
{% endblock %}
